*{
} 

/* STYLES BY JADE  */
body{
  text-align: center; 
  background-color: rgb(248,242,222);
  color: rgb(96,66,40);
  font-family: Roboto Condensed;
}

a {
  text-decoration: none;
  color: rgb(96,66,40);
}

a:hover {
  color: grey;
}

/* HOME PAGE */
.logo {
  background-image: url(snowpiercer.webp);
  padding: 5px;
  background-size: 100%;
  border-radius: 10px;
}

nav {
  padding: 20px;
}

.search {
  margin-right: 1%;
  color: green;
}

.header {
  padding: 20px;
  color: rgb(84,129,99);
}

.map {
  width: 100%;
}

.price {
  background-color: rgb(84,129,99);
  padding: 15px;
  border-radius: 10px;
  border: 5px double rgb(96,66,40);
  color: rgb(254,225,188);
}

.single {
  width:100%;
}

.desti {
  background-color: rgb(133,178,117,0.5);
  padding: 20px;
  border-radius: 10px;
  border: 5px double rgb(96,66,40);
}

/* SCHEDULE PAGE */

.trainsched{
  padding: 5%; 
  text-align: center; 
  justify-content: center;
} 

/*CONTACT PAGE */
.frm {
  padding: 20px;
  margin: 5%;
}

.desc {
  background-color: rgb(133,178,117,0.5);
  padding: 15px;
  border-radius: 10px;
  border: 5px double rgb(96,66,40);
}

form {
  text-align: left;
}
