*{
} 

body{
  text-align: center; 
  background-color: whitesmoke;
  color: brown;
}

.trainsched{
  padding: 5%; 
  text-align: center; 
  justify-content: center;
} 

.logo {
  width: 50%
}
